@media (max-width: 8550px) {
    .modal-menu-content {
      width: 340px;
      visibility: hidden;
    }
    .modal-menu-wrapper{
        visibility: hidden;
  
    }
  }

@media (max-width: 940px) {
    .modal-menu-wrapper{
        &.active {
            visibility: visible;
        }
    }
    .modal-menu-content {
        visibility: visible;
      }
}

@media (max-width: 420px) {
    .modal-menu-content {
    width: 100%;
    }
}



.modal-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .3s all;
    z-index: 1;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.modal-menu-content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: .3s all;
    &.active {
        transform: translateX(0);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;

    & .close {
        background: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 113px;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border-bottom: 2px solid rgb(0, 0, 0, 0.1);

        & svg {
            width: 30px;
            height: 30px;
        }

        & p {
            font-family: Regular-font;
            color: rgba(0, 0, 0, 0.750);
            font-size: 30px;
        }
    }
}


.menu-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .menu-category {
        padding: 0 25px;
        height: 65px;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: black;
        font-size: 20px;
        border-bottom: 1px solid rgb(0, 0, 0, .1);
        &:hover{
            background-color: rgba(0, 0, 0, 0.042);
        }
    }

    & li {
        list-style: none;
        color: black;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
    }
}